@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{

    /*marca*/
    --snitap-sun: #FFCD1E;
    --snitap-sky-mid: #06B6D4;
    --snitap-sky-light: #67E8F9;
    --snitap-joy-mid: #DB2777;
    --snitap-joy-light: #F472B6;
    --snitap-leaf-mid: #16A34A;

    /*base*/
    --text: #000000;
    --highlights: #000000;
    --background: #FAFAFA;

    --ff-syne: "Syne", sans-serif;
    --heading1: 700 4rem/125% var(--ff-syne);
    --heading2: 700 2.5rem/120% var(--ff-syne);

    --ff-montserrat: "Montserrat", sans-serif;
    --button-label: 500 1rem/150% var(--ff-montserrat);
    --span: 500 .875rem/150% var(--ff-montserrat);

    --text-sm: .875rem;
    --text-md: 1rem;
    --text-lg: 2.5rem;
    --text-xl: 4rem;


    --ff-inter: "Inter", sans-serif;
}

html, button{
    font: var(--button-label);
}

h1{
    font: var(--heading1);
    line-height: 1.25;
}

h2{
    font: var(--heading2);
    line-height: 1;
}


